<?xml version="1.0"?>
<component>
<registration
description="MyTest"
progid="My.Test"
version="1.00"
classid="{38b3dd76-c4ee-44d0-978e-4ce2d7e14b0f}"
>
</registration>

<public>
<method name="msg">
<PARAMETER name="this"/>
</method>
</public>

<script language="VBScript">
<![CDATA[

sub msg(this)
msgbox this
end sub

]]>
</script>
</component>